{% extends 'main_page/base.html' %}
{% load static %}

{% block title %}Календарь - 75 Days Challenge{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'task_bar/css/calendar.css' %}">
{% endblock %}

{% block content %}
{% include "task_bar/nav_bar.html" %}
<div class="calendar-container">
    <div class="calendar-header">
        <h1>75 Days Challenge</h1>
        <p>Твой прогресс: день {{current_day }} из 75</p>
    </div>


    <div class="calendar-grid">
        {% for item in days_list %}
            {% if item.exists %}
                <a href="{% url 'task_bar:task-update' day=item.task.day %}" class="day-card active completed">
                    День {{ item.day }}
                </a>
            {% else %}
                <div class="day-card locked">
                    День {{ item.day }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
