{% extends "main_page/base.html" %}
{% load static %}

{% comment %} {% block title %}Вход - 75 Days Challenge{% endblock %} {% endcomment %}

{% block extra_css%} 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'user/css/login.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{%endblock%}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <i class='bx bx-lock-alt login-icon'></i>
            <h1>Вход</h1>
            <p>Вернись к своей трансформации</p>
        </div>

        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}"></label>
                <i class='bx bx-envelope'></i>
                {{ form.username }}
                <span class="focus-border"></span>
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}"></label>
                <i class='bx bx-lock-alt'></i>
                {{ form.password }}
                <span class="focus-border"></span>
            </div>

            <div class="form-options">
                <label class="remember-me">
                    <input type="checkbox" name="remember">
                    <span>Запомнить меня</span>
                </label>
                {% comment %} <a href="{% url 'user:password_reset' %}" class="forgot-password">Забыли пароль?</a> {% endcomment %}
            </div>

            <button type="submit" class="login-button">
                <span>Войти</span>
                <i class='bx bx-right-arrow-alt'></i>
            </button>
        </form>

        <div class="login-footer">
            <p>Еще нет аккаунта? <a href="{% url 'user:register' %}" class="register-link">Зарегистрироваться</a></p>
        </div>
    </div>

    <div class="particles-container" id="particles-js"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static 'user/js/login.js' %}"></script>
{% endblock %} 